*{
    margin: 0px;
}

body {
    font-family: calibri;
    background:  #fbf7f6 ;
  
}

.clearfix {
    clear:both
}

/*/*************************pagina para inciar sesion/****************/
#saludo {
    height: 200px;
    background:  #51f173;
    text-align: center;
    line-height: 90px;
}

#sesion {
    height: 400px;
    line-height: 125px;
    text-align: center;
}

#pie1 {
    background:  #51f173;   
    line-height: 100px;
    text-align: center;
}


/*************************pagina de opciones***********************/
#opciones { 
    height: 100px;
    background: #51f173;
    text-align: center;
    line-height: 90px;
}


#inventario {
    float: left;
    width: 50%;   
    height: 490px;
    text-align: center;
    line-height: 120px;
}

                nav {
                    text-align: center;
                    line-height: 50px;
                }

p{
border: #51f173 groove;
width: 590px;
}

#otrasopc {
float: right; 
width: 50%   
height: 490px;
text-align: center;   
line-height: 120px;         
}




#pie2 {
    background:  #51f173;   
    line-height: 100px;
    text-align: center;
}


/*************************Formulario prestamo y devolucion***********************/

#formPD {
background:  #51f173;
height: 100px;
text-align: center;
line-height: 150px;
}

#contenido {
    width: 300px;
}
@media screen and (max-width: 600px) {
    table {
        width:100%;

    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}

#enviar {
    float: right;
    text-align: ;
    line-height: 360px;
    height: 380px;
}

#pie3 {
    background:  #51f173;  
    height: 160px; 
    line-height: 135px;
    text-align: center;
}